<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="DB" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\Users\Софья\source\repos\kursovaya\kursovaya\kursovaya.mdf;Integrated Security=True" />
  <add name="kursovaya.Properties.Settings.Database1ConnectionString"
   connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\Database1.mdb;Persist Security Info=False"
   providerName="System.Data.OleDb" />
  <add name="kursovaya.Properties.Settings.kanctovarConnectionString"
   connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source=|DataDirectory|\kanctovar.mdb;Persist Security Info=False"
   providerName="System.Data.OleDb" />
 </connectionStrings>
</configuration>